.footer {
    background-color: $accent--secondary;
    padding: 80px 54px 22px;
    position: relative;
    border-radius: 48px;
    margin-bottom: 66px;
    @media screen and (max-width: 991px) {
        padding-bottom: 62px;
    }
    @media screen and (max-width: 540px) {
        margin-bottom: 55px;
        padding: 80px 25px 62px;
    }
    .clips__desktop img, .clips__resp img {
        position: absolute;
        right: 62px;
        top: -75px;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    .clips__resp img {
        display: none;
        @media screen and (max-width: 991px) {
            display: block;
            right: 0;
            top: -30px;
        }
    }
    .section-title {
        max-width: 578px;
        @media screen and (max-width: 1400px) {
            max-width: 500px;
        }
        @media screen and (max-width: 768px) {
            max-width: 400px;
            margin-bottom: 50px;
        }
        @media screen and (max-width: 330px) {
            font-size: 34px;
        }
        .brafterdas br {
            display: none;
            @media screen and (max-width: 450px) {
                display: block;
            }
        }
        .hyphen, br {
            display: none;
            @media screen and (max-width: 450px) {
                display: inline-block;
            }
        }
    }
    .footer-menu {
        @include flex-spbtwn;
        &__links {
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            a {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 18px;
            }
        }
    }
    .logo {
        img {
            width: 250px;
            @media screen and (max-width: 540px) {
                width: 181px;
            }
        }
    }
}