.section-sicher {
    display: flex;
    &__left {
        width: 50%;
        .text-block {
            width: 416px;
            max-width: 100%;
        }
    }
    &__right {
        width: 308px;
        max-width: 100%;
        margin-right: 0;
        margin-left: auto;
        .small-title:not(:first-child) {
            margin-top: 72px;
        }
    }
    &__decoration {
        width: 362px;
        max-width: 100%;
    }
}