.section-sicher {
    display: flex;
    padding-top: 315px;
    @media screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-top: 50px;
    }
    &__left {
        width: 50%;
        @media screen and (max-width: 991px) {
            width: 100%;
        }
        .text-block {
            width: 416px;
            max-width: 100%;
            @media screen and (max-width: 991px) {
                width: 100%;
                margin-bottom: 65px;
            }
        }
    }
    &__right {
        width: 308px;
        max-width: 100%;
        margin-right: 0;
        margin-left: auto;
        @media screen and (max-width: 991px) {
            width: 100%;
        }
        .small-title:not(:first-child) {
            margin-top: 72px;
            @media screen and (max-width: 991px) {
                margin-top: 45px;
            }
        }
    }
    &__decoration {
        width: 362px;
        max-width: 100%;
        @media screen and (max-width: 991px) {
            display: none;
        }
        &-mobile {
            display: none;
            @media screen and (max-width: 991px) {
                display: block;
                text-align: center;
                margin-bottom: 74px;
            }
        }
    }
    .hyphen {
        display: none;
        @media screen and (max-width: 667px) {
            display: inline;
        }
    }
    br {
        display: none;
        @media screen and (max-width: 667px) {
            display: block;
        }
    }
}