.section-contact {
    margin: 196px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__form {
        width: 363px;
        min-height: 574px;
        max-width: 100%;
        border-radius: 24px;
        background-color: #05203D;
        padding-top: 62px;
        &row {
            width: 362px;
            max-width: 100%;
            margin-left: 55px;
            height: 71px;
            background-color: #fff;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            margin-bottom: 25px;
            padding-top: 5px;
            padding-left: 24px;
            small {
                font-size: 12px;
                line-height: 15px;
                font-weight: 500;
                display: block;
            }
        }
        .section-contact__forminput {
            width: 308px;
            max-width: 100%;
            border: none;
            border-bottom: 2px solid #05203D;
            outline: none;
            margin-top: 10px;
            &:focus {
                background-color: rgb(237 215 103 / 25%);
            }
        }
    }
    button[type="submit"],
    input[type="submit"] {
        margin-top: 28px;
        margin-left: 55px;
    }
    &__right {
        width: 416px;
    }
    &__image {
        width: 480px;
        margin-left: -32px;
        margin-top: 30px;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 278px;
            height: 372px;
            right: -60px;
            bottom: -30px;
            z-index: -1;
            background-image: url(../images/contact-decoration.svg);
        }
    }
}