.steps {
    padding: 110px 0 125px 0;
    &__title {
        @include flex-spbtwn;
        margin-bottom: 64px;
        &__content {
            max-width: 470px;
            width: 100%;
        }
    }
    .section-title {
        max-width: 416px;
        width: 100%;
        margin-bottom: 0;
    }
    &__content {
        @include flex-spbtwn;
        margin-left: 0;
        column-gap: 16px;
        row-gap: 16px;
        position: relative;
        .lines-dark {
            position: absolute;
            background-color: #06203D;
            height: 329px;
            width: 794px;
            border-radius: 24px;
            z-index: 1;
            left: 10%;
            top: 25%;
        }
        &__step {
            background-color: #fff;
            width: 49%;
            height: 259px;
            padding: 57px 44px 57px 50px;
            z-index: 10;
            box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            &--title {
                display: flex;
                align-items: center;
                column-gap: 23px;
                margin-bottom: 20px;
                @media screen and (max-width: 540px) {
                    flex-wrap: wrap;
                    margin-bottom: 16px;
                    .small-title {
                        width: 100%;
                    }
                    img {
                        margin: auto;
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .steps {
        .section-title {
            max-width: 400px;
        }
        &__content {
            .lines-dark {
                width: 694px;
                left: 17%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .steps {
        padding: 80px 0 90px 0;
        &__title {
            margin-bottom: 131px;
        }
        .section-title {
            max-width: 100%;
            margin-bottom: 20px;
        }
        &__content {
            .lines-dark {
                width: 650px;
            }
            &__step {
                padding: 47px 14px 47px 20px;
            }
        }
    }
}

@media screen and (max-width: 901px) {
    .steps {
        .font15 {
            font-size: 16px;
        }
        &__content {
            row-gap: 80px;
            width: 650px;
            margin: 0 auto;
            .lines-dark {
                width: 1000px;
                transform: rotate(-90deg);
                left: -25%;
                top: 35%;
            }
            &__step {
                width: 100%;
                padding: 57px 44px 57px 50px;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .steps {
        padding: 230px 0 20px 0;
        &__content {
            width: 500px;
            .lines-dark {
                left: -50%;
            }
        }
    }
}

@media screen and (max-width: 667px) {
    .steps {
        &__content {
            width: 400px;
            .lines-dark {
                height: 300px;
                left: -75%;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .steps {
        &__content {
            max-width: 100%;
            .lines-dark {
                height: 78%;
                width: 84%;
                left: 8%;
                top: 11%;
                transform: none;
            }
            &__step {
                height: auto;
                padding: 24px 16px 48px 16px;
            }
        }
    }
}