.sectionMehrErfolg {
    @include container-type-1;
    padding: 50px 50px 50px 100px;
    @media screen and (max-width: 991px) {
        padding: 50px 0 50px 0;
    }
    &__container {
        @include flex-center;
        flex-wrap: nowrap;
        column-gap: 50px;
        @media screen and (max-width: 991px) {
            flex-wrap: wrap;
            row-gap: 40px;
        }
    }
    &__elem {
        img {
            max-width: 640px;
            @media screen and (max-width: 1200px) {
                max-width: 500px;
            }
            @media screen and (max-width: 1200px) {
                max-width: 400px;
            }
            @media screen and (max-width: 540px) {
                max-width: initial;
                height: 345px;
            }
        }
        .section-title {
            @media screen and (max-width: 540px) {
                margin-bottom: 5px;
            }
            span {
                font-weight: 400;
            }
        }
        &.left {
            @media screen and (max-width: 991px) {
                order: 1;
            }
        }
        &.right {
            @media screen and (max-width: 991px) {
                order: 0;
            }
            &.desktop {
                display: block;
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
            &.responsive {
                display: none;
                @media screen and (max-width: 991px) {
                    display: block;
                }
            }
        }
    }
}