.section-fragen {
    margin-top: 60px;
    margin-bottom: 194px;
    @media screen and (max-width: 769px) {
        width: 100%;
        margin-bottom: 160px;
    }
    .section-title {
        margin-bottom: 0;
    }
    &__block {
        width: 686px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}