.section-weichen {
    position: relative;
    &__1 {
        background-color: #f6f5ef;
        width: 63%;
        min-width: 700px;
        border-radius: 48px;
        padding: 45px 52px 0 54px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        @media screen and (max-width: 1400px) {
            padding: 30px 30px 0 30px;
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            min-width: initial;
            padding: 0;
            margin-top: 50px;
            margin-bottom: 130px;
        }
        &__box {
            width: 308px;
            max-width: 46%;
            margin-bottom: 30px;
            @media screen and (max-width: 991px) {
                width: 46%;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 100%;
                .font15 {
                    font-size: 16px;
                }
            }
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: -1px;
            right: -1px;
            z-index: -1;
            background-color: $accent--secondary;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }
    &__2 {
        background-color: $accent--secondary;
        border-radius: 48px 0 48px 48px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 140px 108px 80px 54px;
        position: relative;
        column-gap: 80px;
        @media screen and (max-width: 1400px) {
            padding: 70px 40px 30px 54px;
            column-gap: 0;
        }
        @media screen and (max-width: 991px) {
            border-radius: 48px;
            flex-wrap: wrap;
            padding: 0;
            padding-bottom: 54px;
        }
        @media screen and (max-width: 767px) {
            width: calc(100% + 80px);
            margin-left: -40px;
            overflow: hidden;
        }
        @media screen and (max-width: 667px) {
            width: calc(100% + 56px);
            margin-left: -28px;
        }
        &__img {
            width: 575px;
            position: relative;
            margin-top: 140px;
            left: -54px;
            @media screen and (max-width: 1400px) {
                max-width: 48%;
            }
            @media screen and (max-width: 991px) {
                max-width: 100%;
                order: 2;
                left: 0;
            }
            @media screen and (max-width: 767px) {
                width: calc(100% - 80px);
                margin: auto;
                margin-top: 130px;
            }
            @media screen and (max-width: 667px) {
                width: calc(100% - 56px);
                margin: auto;
                margin-top: 130px;
            }
            .small-title {
                margin-left: 18%;
                margin-top: -40px;
                @media screen and (max-width: 1400px) {
                    margin-top: 0;
                }
                @media screen and (max-width: 768px) {
                    margin-top: 20px;
                }
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 91%;
                height: 91%;
                background: #F6F5EF;
                border-radius: 50%;
                top: -116px;
                right: -52px;
                z-index: 1;
                @media screen and (max-width: 767px) {
                    width: calc(100vw - 80px);
                    height: calc(100vw - 80px);
                    top: -115px;
                    left: unset;
                    right: 0;
                }
                @media screen and (max-width: 667px) {
                    width: calc(100vw - 56px);
                    height: calc(100vw - 56px);
                    top: -84px;
                }
            }
            img {
                position: relative;
                z-index: 2;
                @media screen and (max-width: 767px) {
                    margin-left: -23%;
                    max-width: 120%;
                }
                @media screen and (max-width: 540px) {
                    margin-left: -26%;
                    max-width: 120%;
                }
            }
        }
        &__text {
            width: 572px;
            max-width: 100%;
            @media screen and (max-width: 1400px) {
                max-width: 40%;
                .font19 {
                    font-size: 17px;
                }
            }
            @media screen and (max-width: 991px) {
                width: 100%;
                max-width: 100%;
                order: 0;
                padding: 140px 40px 100px 40px;
            }
            @media screen and (max-width: 667px) {
                padding: 140px 28px 100px 28px;
            }
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 37%;
            max-width: calc(100% - 700px);
            height: 356px;
            border-radius: 48px 48px 0 0;
            right: 0;
            bottom: calc(100% - 6px);
            background-color: $accent--secondary;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }
    // &:after {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-image: url(../images/bg-pattern.png);
    // }
}