.section-fragen {
    margin-top: 178px;
    margin-bottom: 194px;
    @media screen and (max-width: 769px) {
        width: 100%;
    }
    &__block {
        width: 686px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 88px;
    }
}