.section-contact {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
    padding-top: 100px;
    @media screen and (max-width: 1025px) {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 110px;
    }
    &__form {
        width: 363px;
        min-height: 574px;
        border-radius: 24px;
        background-color: #05203D;
        padding-top: 62px;
        @media screen and (max-width: 991px) {
            max-width: 40%;
            min-height: initial;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        @media screen and (max-width: 767px) {
            order: 1;
            width: 100%;
            max-width: calc(100% - 28px);
        }
        &row {
            width: 100%;
            margin-left: 55px;
            height: 71px;
            background-color: #fff;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            margin-bottom: 25px;
            padding: 5px 24px;
            @media screen and (max-width: 991px) {
                margin-left: 28px;
            }
            small {
                font-size: 12px;
                line-height: 15px;
                font-weight: 500;
                display: block;
            }
        }
        .section-contact__forminput {
            width: 100%;
            border: none;
            border-bottom: 2px solid #05203D;
            outline: none;
            margin-top: 10px;
            &:focus {
                background-color: rgb(237 215 103 / 25%);
            }
        }
    }
    button[type="submit"],
    input[type="submit"] {
        margin-top: 28px;
        margin-left: 55px;
        @media screen and (max-width: 991px) {
            margin-top: 3px;
            margin-left: 28px;
        }
    }
    &__right {
        width: 416px;
        @media screen and (max-width: 991px) {
            max-width: 45%;
        }
        @media screen and (max-width: 767px) {
            order: 0;
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            .medium-title {
                order: 1;
                margin-bottom: 1em;
                margin-top: 1em;
            }
        }
    }
    &__image {
        width: 480px;
        margin-left: -32px;
        margin-top: 30px;
        position: relative;
        @media screen and (max-width: 991px) {
            max-width: 100%;
            margin-left: -24px;
        }
        @media screen and (max-width: 767px) {
            order: 0;
            margin-left: auto;
            margin-right: -40px;
        }
        @media screen and (max-width: 767px) {
            order: 0;
            margin-left: auto;
            margin-right: -28px;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 278px;
            height: 372px;
            right: -60px;
            bottom: -30px;
            z-index: -1;
            background-image: url(../images/contact-decoration.svg);
            background-repeat: no-repeat;
            @media screen and (max-width: 1200px) {
                right: 0;
                bottom: 0;
                width: 166px;
                height: 260px;
                background-size: contain;
            }
            @media screen and (max-width: 767px) {
                background-image: url(../images/contact-decoration-mobile.svg);
                width: 70%;
                height: 95%;
                right: auto;
                left: -15%;
                bottom: auto;
                top: -5%;
            }
        }
    }
}