.vorteile {
    padding-top: 125px;
}
.digitals {
    position: relative;
    background-color: $accent--secondary;
    border-radius: 48px;
    padding: 65px 0 284px;
    // margin-top: 250px;
    .clips {
        position: absolute;
        width: 200px;
        height: 260px;
        top: -65px;
        left: 54px;
        background-image: url(../images/clips.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__title {
        text-align: center;
        .section-title {
            margin-bottom: 24px;
        }
        &__text {
            width: 459px;
            margin: 0 auto;
        }
    }
    &__content {
        @include flex-spbtwn;
        row-gap: 78px;
        width: 760px;
        margin: auto;
        margin-top: 96px;
        position: relative;
        &__step {
            width: 308px;
            padding-right: 13px;
        }
    }
    .offer {
        @include flex-spbtwn;
        justify-content: space-around;
        column-gap: 48px;
        padding: 48px 43px;
        width: 740px;
        position: absolute;
        bottom: -440px;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        &__percent {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 142px;
            font-weight: 700;
        }
        &__text {
            width: 319px;
            .small-title {
                margin-bottom: 0;
            }
            .button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 42px;
                margin-top: 24px;
                font-size: 18px;
            }
            &--description {
                font-size: 15px;
                margin-top: 1.6px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .vorteile {
        padding-top: 90px;
    }
    .digitals {
        padding: 65px 0 204px;
        .clips {
            width: 130px;
            top: -88px;
        }
        &__content {
            margin-top: 76px;
            row-gap: 58px;
        }
        .offer {
            bottom: -360px;
        }
    }
}

@media screen and (max-width: 901px) {
    .digitals {
        padding: 238px 0 0;
        background-color: rgba(145, 234, 228, 0.17);
        .clips {
            width: 240px;
            background-image: url(../images/clips-mobile.svg);
            top: -65px;
            left: 0;
        }
        &__content {
            width: 100%;
            &__step {
                width: 450px;
                padding-right: 0;
                margin: auto;
            }
        }
        .offer {
            width: 100%;
            position: relative;
            bottom: 0;
            &__percent {
                line-height: normal;
            }
            &__text,
            &__percent {
                width: 450px;
                margin: auto;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .digitals {
        &__content {
            row-gap: 48px;
        }
        .offer {
            &__percent {
                font-size: 120px;
            }
        }
    }
}

@media screen and (max-width: 667px) {
    .digitals {
        width: calc(100% + 56px);
        margin: 0 -28px;
        padding: 238px 28px 0;
        &__content {
            width: calc(100% + 56px);
            margin: 0 -28px;
            margin-top: 76px;
            padding: 0 28px;
        }
        &__title {
            &__text {
                width: 100%;
            }
        }
        .offer {
            width: calc(100% + 56px);
            margin: 0 -28px;
        }
    }
}