<script src="@@webRoot/js/@@vendorJs" defer></script>
<script src="@@webRoot/js/@@mainJs" defer></script>

<script>
    checkScrollPosition();
    window.addEventListener("scroll", function() {
        checkScrollPosition();
    });

    function checkScrollPosition() {
        var body = document.body;
        if (window.scrollY == 0) {
            body.classList.remove("sticky-header");
        } else {
            body.classList.add("sticky-header");
        }
    }
</script>

<script>
    AOS.init();
</script>