// This is base reset for form elements.
//
// Note: If you use a framework that includes form styling then you need to remove this file.
form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
    appearance: none;
    box-sizing: border-box;
    font-family: var(--form-font-family);
    border-radius: 0;
    border: 0.1rem solid var(--form-element-border-color);
    padding: var(--form-element-padding);
    &:focus {
        border-color: var(--form-element-focus-border-color);
    }
    @include placeholder {
        color: var(--placeholder-color);
    }
}

select {
    border-radius: 0;
}

textarea {
    resize: vertical;
    vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    appearance: none;
    border-radius: 0;
    cursor: pointer;
    font-family: var(--form-font-family);
}

.button {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transition: opacity .3s linear;
    &-yellow {
        background-color: $accent--primary;
        &:hover {
            opacity: 0.8;
        }
    }
}