body {
    background-color: #f6f5ef;
    margin: 0;
    padding: 0 80px;
}

.section {
    max-width: 956px;
    width: 100%;
    margin: auto;
}

.section-big {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.section-1010 {
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
}

.section-1280 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    body {
        padding: 0 40px;
    }
}

@media screen and (max-width: 667px) {
    body {
        padding: 0 28px;
    }
}