body {
    background-color: #fff;
    margin: 0;
}

.buttons-yellow {
    background-color: $accent--primary;
    padding: 16px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}