<footer class="footer section-big">
    <div class="clips__desktop">
        <img src="images/footer.svg" alt="footer svg">
    </div>

    <div class="clips__resp">
        <img src="images/footer_responsive.svg" alt="footer svg">
    </div>

    <h5 class="section-title">Das Gesundheit<span class="hyphen">-</span><br>swesen wird digital.</h5>
    <div class="footer-menu">
        <nav class="footer-menu__links">
            <a class="footer-menu__links--link" href="#">Datenschutz . </a>
            <a class="footer-menu__links--link" href="#">Impressum</a>
        </nav>
        <a href="#" class="logo">
            <img src="images/logo.png" alt="logo ere health">
        </a>
    </div>
</footer>