<header class="header">
    <div class="header__container">
        <div class="header__left">
            <a aria-label="ere-health" href="/" class="logo">
                <img src="images/logo.svg" alt="logo ere health">
            </a>
            <ul class="mainMenu">
                <li class="mainMenu__item active"><a aria-label="ere-health" href="#einfuhrung" class="mainMenu__link">Einführung</a></li>
                <li class="mainMenu__item"><a aria-label="ere-health" href="#ablauf" class="mainMenu__link">Ablauf</a></li>
                <li class="mainMenu__item"><a aria-label="ere-health" href="#vorteile" class="mainMenu__link">Vorteile</a></li>
                <li class="mainMenu__item"><a aria-label="ere-health" href="#beratung" class="mainMenu__link">Beratung</a></li>
                <li class="mainMenu__item"><a aria-label="ere-health" href="#FAQs" class="mainMenu__link">FAQs</a></li>
            </ul>
        </div>
        <a aria-label="ere-health" href="#" class="button button-yellow">Beratung <span>anfordern</span></a>
    </div>
</header>