<header class="header">
    <div class="header__left">
        <a href="#" class="logo">
            <img src="images/logo.png" alt="logo ere health">
        </a>
        <ul class="mainMenu">
            <li class="mainMenu__item"><a href="#" class="mainMenu__link">Einführung</a></li>
            <li class="mainMenu__item"><a href="#" class="mainMenu__link">Ablauf</a></li>
            <li class="mainMenu__item"><a href="#" class="mainMenu__link">Vorteile</a></li>
            <li class="mainMenu__item"><a href="#" class="mainMenu__link">Beratung</a></li>
            <li class="mainMenu__item"><a href="#" class="mainMenu__link">FAQs</a></li>
        </ul>
    </div>
    <a href="#" class="button-yellow">Beratung <span>anfordern</span></a>
</header>