<section class="section section-fragen">
    <h4 class="section-title">Häufige Fragen, auf die <br> wir Antworten haben.</h4>

    <div class="section-fragen__block">
        <h4 class="small-title">
            Was ist ein E-Rezept?
        </h4>
        <div class="font19">
            <p>
                Das E-Rezept kommt. Das bedeutet: Rezepte vom Arzt werden in Zukunft nicht mehr auf Papier gedruckt, sondern in elektronischer Form ausgestellt. So einfach und selbstverständlich, wie wir heute E-Mails senden, statt Briefe zu schreiben.
            </p>

            <p>
                Wir von DocMorris arbeiten aktiv an technischen Lösungen für das E-Rezept. Denn wir sind sicher: Für unsere Kunden wird das E-Rezept ein echter Vorteil. Mehr erfahren Sie hier. Im Oktober 2020 wurde ein Gesetz verabschiedet, das ab Januar 2022 die Nutzung
                des E-Rezeptes bei der Verordnung von verschreibungspflichtigen Medikamenten vorsieht.
            </p>

            <p>
                Für die sichere Übermittlung des E-Rezeptes wird die Telematik-Infrastruktur genutzt, die alle Beteiligten im Gesundheitswesen miteinander vernetzt.
            </p>

        </div>
    </div>
    <div class="section-fragen__block">
        <h4 class="small-title">
            Welche Vorteile wird das E-Rezept bieten?
        </h4>
        <div class="font19">
            <p>
                Nach derzeitigem Stand ist davon auszugehen, dass das E-Rezept den Patientinnen und Patienten ganz praktische Vorteile bieten wird, sowohl bei Online- als auch Vor-Ort-Apotheken: Sie können auf ihr Rezept immer digital zugreifen und es einsehen.
            </p>

            <p>
                Die Apotheke kann es schnell vor Ort auslesen oder online direkt bearbeiten, weil die ärztliche Verordnung quasi auf Knopfdruck vom Arzt zum Patienten und vom Patienten in die Apotheke übertragen werden kann. Bei einer digitalen Einlösung des E-Rezepts
                wissen Sie auch schon vorher, ob ein Medikament in der Apotheke Ihrer Wahl vorrätig ist, das spart Zeit und Wege.
            </p>
        </div>
    </div>
    <div class="section-fragen__block">
        <h4 class="small-title">
            Ab wann kann ich das E-Rezept nutzen?
        </h4>
        <div class="font19">
            <p>
                Das E-Rezept startet am 1. Juli 2021. In den anschließenden sechs Monaten gilt eine Übergangsfrist in der auch weiterhin Muster-16-Rezepte ausgestellt werden dürfen. Ab dem 1. Januar 2022 wird das E-Rezept jedoch Pflicht für alle Ärzte mit Kassenzulassung.
            </p>
        </div>
    </div>

    <div class="section-fragen__block">
        <h4 class="small-title">
            Kann ich auch weiterhin Muster 16 verschreiben? Oder muss ich immer ein E-Rezept verschreiben?
        </h4>
        <div class="font19">
            <p>
                Das E-Rezept wird ab 2022 verpflichtend für alle gesetzlich Versicherten eingeführt. Ab diesem Zeitpunkt sollen, sofern technisch möglich, nur noch ERezepte ausgestellt werden. Situationen, in denen es nicht möglich ist, wie zum Beispiel bei Haus- und
                Heimbesuchen oder bei einem Ausfall der Infrastruktur, dürfen weiterhin Muster 16 verwendet werden. Die Entlassrezepte müssen in Krankenhäusern ab 2022 als E-Rezept ausgestellt werden. Im Krankenhaus werden patientenindividuelle Rezepte,
                wie Zytostatika, als E-Rezept verordnet.
            </p>
        </div>
    </div>
    <div class="section-fragen__block">
        <h4 class="small-title">
            Kann ein E-Rezept von Praxisangestellten erzeugt werden?
        </h4>
        <div class="font19">
            <p>
                Ja. Alle Schritte zur Vorbereitung des Rezeptes sowie (auf Wunsch des Versicherten) das Ausdrucken können von Praxisangestellten vorgenommen werden. Analog der heutigen Unterschrift muss ein E-Rezept qualifiziert elektronisch signiert werden. Dies kann
                nur der Arzt mit dem HBA machen nachdem ein E-Rezept vollständig ausgefüllt wurde.
            </p>
        </div>
    </div>
    <div class="section-fragen__block">
        <h4 class="small-title">
            Welche Art von Medikamenten kann ich mit dem E-Rezept verschreiben?
        </h4>
        <div class="font19">
            <p>
                Das E-Rezept löst das Muster-16-Rezept ab und gilt zunächst für alle apothekenpflichtigen Arzneimittel. Die Digitalisierung weiterer Rezepte wie Betäubungsmittel, T-Rezepte, Digitale Gesundheitsanwendungen, sowie Hilfsund Heilmittel oder die Beschaffung
                von Sprechstundenbedarf ist in Planung.
            </p>
        </div>
    </div>
</section>