<div class="sectionMehrErfolg">
    <div class="sectionMehrErfolg__container">
        <div class="sectionMehrErfolg__elem left">
            <h1 class="section-title" data-aos="fade-down"><span>Mehr Erfolg durch Digitalisierung.</span> Das E-Rezept kommt!</h1>
            <h2 class="text-type-1" data-aos="fade-up" data-aos-delay="250">Mit dem <strong>elektronischen Rezept</strong> das Leben der eigenen Patienten erleichtern, neue Geschäftszweige eröffnen und Kosten kontrollieren.</h2>
        </div>
        <div class="sectionMehrErfolg__elem right desktop" data-aos="fade-in" data-aos-delay="400">
            <img src="images/Mehr-Erfolg-durch-Digitalisierung-Das-E-Rezept-kommt3.png" alt="Mehr Erfolg durch Digitalisierung. Das E-Rezept kommt!">
        </div>
        <div class="sectionMehrErfolg__elem right responsive" data-aos="fade-in" data-aos-delay="400">
            <img src="images/Mehr-Erfolg-durch-Digitalisierung-Das-E-Rezept-kommt-responsive3.png" alt="Mehr Erfolg durch Digitalisierung. Das E-Rezept kommt!">
        </div>
    </div>
</div>