<section class="section section-sicher">
    <div class="section-sicher__left">
        <div class="section-sicher__decoration-mobile">
            <img src="images/sicher-decoration-mobile.svg" alt="">
        </div>
        <h5 class="section-title">Sicher und datenschutzkonform</h5>
        <div class="text-block font19">
            <p>
                Im Umgang mit ihren Daten gehen wir keine Kompromisse ein. Daher setzen wir auf die besten Strategien zur Vermeidung von Datendiebstahl und nicht gerechtem Umgang mit ihren Daten.
            </p>
        </div>
        <div class="section-sicher__decoration">
            <img src="images/sicher-decoration.svg" alt="">
        </div>
    </div>
    <div class="section-sicher__right">
        <h4 class="small-title">DSGVO</h4>
        <div class="text-block font15">
            <p>
                Wir halten unsere Datenschutz- bestimmungen stets auf dem neusten Stand und gleichen sie mit den aktuellen Verordnungen der EU ab.
            </p>
        </div>

        <h4 class="small-title">Server in Deutschland oder in Ihrem Krankenhaus</h4>
        <div class="text-block font15">
            <p>
                Ihre Daten werden ausschließlich in Deutschland gespeichert & verarbeitet. Alternativ kann unser System auch auf Ihren eigenen Servern laufen, wodruch Ihre Daten niemals das Krankenhaus verlassen.
            </p>
        </div>

        <h4 class="small-title">Neuste Verschlüsselung</h4>
        <div class="text-block font15">
            <p>
                Alle Systeme werden regelmäßig auf Schwachstellen überprüft und stets proaktiv überwacht.
            </p>
        </div>
    </div>
</section>