<section class="section section-fragen" id="FAQs">
    <h4 class="section-title" data-aos="fade-in" data-aos-delay="300">Häufige Fragen, auf die <br> wir Antworten haben.</h4>

    <div class="section-fragen__block" data-aos="fade-up" data-aos-delay="300">
        <h4 class="small-title">
            Was ist ein E-Rezept?
        </h4>
        <div class="font19">
            <p>
                Rezepte werden in Zukunft nicht mehr auf Papier gedruckt, sondern zeitgemäß in elektronischer Form ausgestellt. So selbstverständlich, wie wir heute E-Mails senden, statt Briefe zu schreiben, wird sich auch das E-Rezept in unsere medizinischen Prozesse
                eingliedern.
            </p>

            <p>
                Das bisherige Verfahren mit dem gedruckten Formular wird somit ab Mitte 2021 zum Auslaufmodell, denn ab 2022 ist die Nutzung des E-Rezepts bundesweit für gesetzlich Versicherte und apothekenpflichtige Arzneimittel verpflichtend.
            </p>

            <p>
                Das E-Rezept wird digital erstellt & signiert. Der Zugang kann über einen QR-Code oder per Ausdruck erfolgen. Somit kann das Rezept dann bei jeder Apotheke eingelöst werden.
            </p>

        </div>
    </div>
    <div class="section-fragen__block" data-aos="fade-up" data-aos-delay="400">
        <h4 class="small-title">
            Welche Vorteile bieten E-Rezepte?
        </h4>
        <div class="font19">
            <p>
                E-Rezepte ermöglichen verschiedene Vorteile, sowohl bei Online- als auch bei Vor-Ort-Apotheken
            </p>

            <p>
                Patienten können auf ihr Rezept immer digital zugreifen. Der Apotheker kann das Rezept schnell & einfach auslesen oder online direkt bearbeiten. Die ärztliche Vordnung wird somit quasi vom Arzt zum Patienten und vom Patienten in die Apotheke übertragen.
            </p>

            <p>
                Der Patient kann sich vorab informieren, ob sein benötigtes Medikament überhaupt in der Apotheke seiner Wahl verfügbar ist & Folgerezepte können ohne zusätzliche Arztbesuche ausgestellt werden.
            </p>
        </div>
    </div>

    <div class="section-fragen__block" data-aos="fade-up" data-aos-delay="500">
        <h4 class="small-title">
            Ab wann kann ich das E-Rezept nutzen?
        </h4>
        <div class="font19">
            <p>
                Die bundesweite Verfügbarkeit des E-Rezepts beginnt am 01.07.2021. In den darauf folgenden 6 Monaten gilt eine Übergangsfrist. In diesem Zeitraum dürfen auch weiterhin die klassichen Muster-16-Rezepte ausgestellt werden. Danach ist die Nutzung der E-Rezepte
                verpfichtend.
            </p>
        </div>
    </div>
    <div class="section-fragen__block" data-aos="fade-up" data-aos-delay="600">
        <h4 class="small-title">
            Kann ich auch weiterhin Muster 16 verschreiben?
        </h4>
        <div class="font19">
            <p>
                Ab Januar 2022 sollen, sofern technisch möglich, nur noch E-Rezepte ausgestellt werden. Hierbei handelt es sich jedoch um eine Übergangsfrist von 6 Monaten, in der die Nutzung nicht verpflichtend ist. Dies ändert sich aber ab dem 01.06.2021.
            </p>
            <p>
                In Ausnahmefällen dürfen jedoch auch nach der Übergangsfrist weiterhin Muster 16 verwendet werden. Dies gilt bspw. bei einem Ausfall der Infrastruktur oder bei Haus- und Heimbesuchen. Entlassrezepte müssen in Krankenhäusern ebenfalls ab 2022 als E-Rezept
                ausgestellt werden.
            </p>
        </div>
    </div>
    <div class="section-fragen__block" data-aos="fade-up" data-aos-delay="700">
        <h4 class="small-title">
            Kann ein E-Rezept von Praxisangestellten bearbeitet werden?
        </h4>
        <div class="font19">
            <p>
                Praxisangestellte dürfen alle Schritte zur Vorbereitung des E-Rezeptes vornehmen, sowie auf Wunsch des Versicherten auch das Ausdrucken. Ein E-Rezept muss jedoch qualifiziert elektronisch signiert werden und dies kann nur ein Arzt mit seinem entsprechenden
                elektronischen Heilberufsausweis (HBA) vornehmen.
            </p>
        </div>
    </div>
    <div class="section-fragen__block" data-aos="fade-up" data-aos-delay="800">
        <h4 class="small-title">
            Welche Medikamente kann ich mit dem E-Rezept verschreiben?
        </h4>
        <div class="font19">
            <p>
                Das E-Rezept gilt für alle apothekenpflichtigen Arzneimittel und löst somit das Muster-16-Rezept ab. In Zukunft können auch Betäubungsmittel, T-Rezepte, Digitale Gesundheitsanwendungen, sowie Hilfs- und Heilmittel über diesen Weg verordnet werden.
            </p>
        </div>
    </div>
</section>