<section class="steps section-1010" id="ablauf">
    <div class="steps__title" data-aos="fade-in" data-aos-delay="300">
        <h2 class="section-title">So neu und doch so vertraut.</h2>
        <span class="steps__title__content font19">Das elektronische Rezept fügt sich nahtlos in ihre bisherigen Abläufe ein, ermöglicht Ihnen jedoch eine Bandbreite an neuen Möglichkeiten.</span>
    </div>
    <div class="steps__content section">
        <div class="lines-dark"></div>
        <div class="steps__content__step" data-aos="fade-down-right" data-aos-delay="250">
            <div class="steps__content__step--title">
                <img src="images/checklist.svg" alt="checklist">
                <h4 class="small-title">Unveränderter Ausstellungsprozesss</h4>
            </div>
            <div class="steps__content__step--text font15">Die Ausstellung des Rezepts erfolgt in ihrem eigenen System. Der Unterschied beginnt erst im eigentlichen Druckvorgang.</div>
        </div>
        <div class="steps__content__step" data-aos="fade-down-left" data-aos-delay="450">
            <div class="steps__content__step--title">
                <img src="images/chem.svg" alt="chemestry">
                <h4 class="small-title">Erstellung E-Rezept</h4>
            </div>
            <div class="steps__content__step--text font15">Hierbei wird das Muster 16 Rezept auf einem virtuellen Drucker gedruckt und mit Computer Vision in ein E-Rezept umgewandelt.</div>
        </div>
        <div class="steps__content__step" data-aos="fade-up-right" data-aos-delay="650">
            <div class="steps__content__step--title">
                <img src="images/award.svg" alt="award">
                <h4 class="small-title">Elektronische Signatur</h4>
            </div>
            <div class="steps__content__step--text font15">Mit dem elektronischen Heilberufsausweis wird das E-Rezept signiert und somit fälschungssicher erzeugt.</div>
        </div>
        <div class="steps__content__step" data-aos="fade-up-left" data-aos-delay="850">
            <div class="steps__content__step--title">
                <img src="images/receipt.svg" alt="receipt">
                <h4 class="small-title">Ausgabe Medikament</h4>
            </div>
            <div class="steps__content__step--text font15">Dank dem Zusammenspiel unseres Systems mit der Gematik App, kann der Patient das Rezept direkt per QR Code bei seiner Apotheke einlösen.</div>
        </div>
    </div>
</section>