<section class="section section-contact" id="beratung">
    <div class="section-contact__form" data-aos="fade-right" data-aos-delay="250">
        <form>
            <div class="section-contact__formrow">
                <label>
                    <small>Vor- und Nachname</small>
                    <input class="section-contact__forminput" type="text">
                </label>
            </div>
            <div class="section-contact__formrow">
                <label>
                    <small>Position</small>
                    <input class="section-contact__forminput" type="text">
                </label>
            </div>
            <div class="section-contact__formrow">
                <label>
                    <small>Arbeitgeber (Krankenhaus)</small>
                    <input class="section-contact__forminput" type="text">
                </label>
            </div>
            <div class="section-contact__formrow">
                <label>
                    <small>Geschäftliche Email</small>
                    <input class="section-contact__forminput" type="email">
                </label>
            </div>
            <button type="submit" class="button button-yellow">
                Beratung anfordern
            </button>
        </form>
    </div>
    <div class="section-contact__right" data-aos="fade-left" data-aos-delay="450">
        <h3 class="medium-title">
            Jetzt telefonischen Beratungstermin mit einem Experten vereinbaren <span class="font-normal"> und alles zum neuen E-Rezept erfahren! </span>
        </h3>

        <div class="section-contact__image">
            <img src="images/jetzt-telefonischen2.png" alt="">
        </div>
    </div>
</section>