<section class="section section-fragen">
    <h4 class="section-title">Häufige Fragen, auf die <br> wir Antworten haben.</h4>

    <div class="section-fragen__block">
        <h4 class="small-title">
            Was ist ein E-Rezept?
        </h4>
        <div class="font19">
            <p>
                Das E-Rezept kommt. Das bedeutet: Rezepte vom Arzt werden in Zukunft nicht mehr auf Papier gedruckt, sondern in elektronischer Form ausgestellt. So einfach und selbstverständlich, wie wir heute E-Mails senden, statt Briefe zu schreiben.
            </p>

            <p>
                Wir von DocMorris arbeiten aktiv an technischen Lösungen für das E-Rezept. Denn wir sind sicher: Für unsere Kunden wird das E-Rezept ein echter Vorteil. Mehr erfahren Sie hier. Im Oktober 2020 wurde ein Gesetz verabschiedet, das ab Januar 2022 die Nutzung
                des E-Rezeptes bei der Verordnung von verschreibungspflichtigen Medikamenten vorsieht.
            </p>

            <p>
                Für die sichere Übermittlung des E-Rezeptes wird die Telematik-Infrastruktur genutzt, die alle Beteiligten im Gesundheitswesen miteinander vernetzt.
            </p>

        </div>
    </div>
</section>