<section class="section section-contact" id="beratung">
    <div class="section-contact__form" data-aos="fade-right" data-aos-delay="250">
        <!-- <form>
            <div class="section-contact__formrow">
                <label>
                    <small>Vor- und Nachname</small>
                    <input class="section-contact__forminput" type="text">
                </label>
            </div>
            <div class="section-contact__formrow">
                <label>
                    <small>Position</small>
                    <input class="section-contact__forminput" type="text">
                </label>
            </div>
            <div class="section-contact__formrow">
                <label>
                    <small>Arbeitgeber (Krankenhaus)</small>
                    <input class="section-contact__forminput" type="text">
                </label>
            </div>
            <div class="section-contact__formrow">
                <label>
                    <small>Geschäftliche Email</small>
                    <input class="section-contact__forminput" type="email">
                </label>
            </div>
            <button type="submit" class="button button-yellow">
                Beratung anfordern
            </button>
        </form> -->

        <script src="https://appload.scopevisio.com/webservices/accounting.WebToLead?getScript"></script>
        <div id="wrapper1" style="min-height: 430px;">
            <div id="datasend" style="display:none;">
                <p>Ihre Daten wurden
                    erfolgreich empfangen. Vielen Dank für Ihre Anfrage.
                </p>
            </div>
            <div id="form">
                <form name="WebToLead" id="WebToLead" method="post" action="https://appload.scopevisio.com/webservices/accounting.WebToLeadPost" accept-charset="UTF-8">

                    <div class="section-contact__formToptext">
                        <div class="section-contact__formToptextElem">
                            <input class="forminput" type="checkbox" id="formField0" name="formField0" value="Informationen per E-Mail">
                            <label for="formField0" class="formlabel">
                                Ich möchte mehr Informationen zur MobWeek für ISOXML per E-Mail erhalten
                            </label>
                        </div>

                        <div class="section-contact__formToptextElem">
                            <input type="checkbox" id="formField1" name="formField1" value="Angebot per E-Mail" class="forminput">
                            <label for="formField1" class="formlabel">
                                Ich möchte ein Angebot für die Teilnahme an der MobWeek per E-Mail erhalten
                            </label>
                        </div>

                        <div class="section-contact__formToptextElem">
                            <input type="checkbox" id="formField2" name="formField2" value="Kontakt per Telefon" class="forminput">
                            <label for="formField2" class="formlabel">
                                Ich möchte telefonisch kontaktiert werden
                            </label>
                        </div>

                    </div>

                    <div class="formlabel section-contact__formrow"><small>Vorname&nbsp;()</small>
                        <div class="forminput">
                            <input type="text" id="formField3"
                            name="formField3" size="50" class="section-contact__forminput"/>
                        </div>
                    </div>

                    <div class="formlabel section-contact__formrow"><small>Nachname&nbsp;()</small>
                        <div class="forminput">
                            <input type="text" id="formField4" name="formField4" size="50" class="section-contact__forminput"/>
                        </div>
                    </div>

                    <div class="formlabel section-contact__formrow"><small>Firmenname</small>
                        <div class="forminput">
                            <input type="text" id="formField5" name="formField5" size="50" class="section-contact__forminput"/>
                        </div>
                    </div>

                    <div class="formlabel section-contact__formrow"><small>E-Mail&nbsp;(*)</small>
                        <div class="forminput">
                            <input type="text" id="formField6" name="formField6" size="50" class="section-contact__forminput"/>
                        </div>
                    </div>

                    <div class="formlabel section-contact__formrow"><small>Telefonnummer</small>
                        <div class="forminput">
                            <input type="text" id="formField7" name="formField7" size="50" class="section-contact__forminput"/>
                        </div>
                    </div>

                    <div class="formlabel section-contact__formrow textarea"><small>Kommentare&nbsp;&amp;&nbsp;Anmerkungen</small>
                        <div class="forminput">
                            <textarea id="formField8" name="formField8" cols="50" rows="8" class="section-contact__forminput"></textarea>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <input type="hidden" name="user" value="manuel.blechschmidt@incentergy.de"/>
                    <input type="hidden" name="pass" value="ws_b7adbacb96074e05940439a765c2435f167c8a13437f41df8327c66a85070feb"/>
                    <input type="hidden" name="customer" value="2022639"/>
                    <input type="hidden" name="organisation" value="Incentergy GmbH"/>
                    <div class="formlabel"></div>
                    <div class="forminput">
                        <button type="submit" class="button button-yellow">Abschicken</button>
                    </div>
                    <div style="clear:both;"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="section-contact__right" data-aos="fade-left" data-aos-delay="450">
        <h3 class="medium-title">
            Jetzt telefonischen Beratungstermin mit einem Experten vereinbaren <span class="font-normal"> und alles zum neuen E-Rezept erfahren! </span>
        </h3>

        <div class="section-contact__image">
            <img src="images/jetzt-telefonischen3.png" alt="">
        </div>
    </div>
</section>