<section class="sectionMehrErfolg">
    <div class="sectionMehrErfolg__container">
        <div class="sectionMehrErfolg__elem left">
            <h1 class="section-title"><span>Mehr Erfolg durch Digitalisierung.</span> Das E-Rezept kommt!</h1>
            <h2 class="text-type-1" data-aos="fade-up">Mit dem <strong>elektronischen Rezept</strong> das Leben der eigenen Patienten erleichtern, neue Geschäftszweige eröffnen und Kosten kontrollieren.</h2>
        </div>
        <div class="sectionMehrErfolg__elem right desktop">
            <img src="images/Mehr-Erfolg-durch-Digitalisierung-Das-E-Rezept-kommt.png" alt="Mehr Erfolg durch Digitalisierung. Das E-Rezept kommt!">
        </div>
        <div class="sectionMehrErfolg__elem right responsive">
            <img src="images/Mehr-Erfolg-durch-Digitalisierung-Das-E-Rezept-kommt-responsive.png" alt="Mehr Erfolg durch Digitalisierung. Das E-Rezept kommt!">
        </div>
    </div>
</section>