<section class="digitals section-big">
    <img src="images/clips.svg" alt="clips">
    <div class="digitals__title">
        <h4 class="section-title">Papier kann das nicht!</h4>
        <div class="digitals__title__text font19">Digitale Infrastrukturen bereiten den Weg für eine Vielzahl neuer Möglichkeiten und bieten darüber hinaus viel Sicherheit und Nachverfolgbarkeit.</div>
    </div>
    <div class="digitals__content">
        <div class="digitals__content__step">
            <h5 class="small-title">Reichweitenerhöhung</h5>
            <div class="digitals__content__step--text font15">Das E-Rezept legt den Grundstein für die Einführung professioneller Telemedizin in Ihrem Krankenhaus.</div>
        </div>
        <div class="digitals__content__step">
            <h5 class="small-title">Eigenständiges System</h5>
            <div class="digitals__content__step--text font15">Unsere Technologie ist mit Ihrem ​Krankenhausinformationssystem (KIS) kompatibel & bedarf keinerlei Anpassungen.</div>
        </div>
        <div class="digitals__content__step">
            <h5 class="small-title">Fälschungssichere Signatur</h5>
            <div class="digitals__content__step--text font15">Die integrierte Signatur per Heilberufsausweise (HBA) ermöglicht eine reibungslose & fälschungssichere Rezept-Ausstellung.</div>
        </div>
        <div class="digitals__content__step">
            <h5 class="small-title">Zeit- und Kostenersparnis</h5>
            <div class="digitals__content__step--text font15">Schnelle Ausstellung von Erst- und Folgerezepten gibt Ihnen die Gelegenheit, mehr Patienten zu empfangen.</div>
        </div>
    </div>
</section>