<div class="section-big section-weichen">
    <div class="section-weichen__1">
        <div class="section-weichen__1__box">
            <h4 class="small-title">Reichweitenerhöhung</h4>
            <div class="text-block font15">
                <p>
                    Das E-Rezept legt den Grundstein für die Einführung <span class="strongResp">professioneller Telemedizin</span> in Ihrem Krankenhaus.
                </p>
            </div>
        </div>
        <div class="section-weichen__1__box">
            <h4 class="small-title">Eigenständiges System</h4>
            <div class="text-block font15">
                <p>
                    Unsere Technologie ist mit Ihrem <span class="strongResp">​Krankenhausinformationssystem (KIS) kompatibel</span> & bedarf keinerlei Anpassungen.
                </p>
            </div>
        </div>
        <div class="section-weichen__1__box">
            <h4 class="small-title">Fälschungssichere Signatur</h4>
            <div class="text-block font15">
                <p>
                    Die integrierte <span class="strongResp">Signatur per Heilberufsausweise (HBA)</span> ermöglicht eine reibungslose & fälschungssichere Rezept-Ausstellung.
                </p>
            </div>
        </div>
        <div class="section-weichen__1__box">
            <h4 class="small-title">Zeit- und Kostenersparnis</h4>
            <div class="text-block font15">
                <p>
                    <span class="strongResp">Schnelle Ausstellung</span> von Erst- und Folgerezepten gibt Ihnen die Gelegenheit, mehr Patienten zu empfangen.
                </p>
            </div>
        </div>
    </div>
    <div class="section-weichen__2">
        <div class="section-weichen__2__img">
            <img src="images/Entwurfsdarstellung.png" alt="">
            <h4 class="small-title">Entwurfsdarstellung</h4>
        </div>
        <div class="section-weichen__2__text">
            <h3 class="big-title">
                Die Weichen <br> sind gestellt.
            </h3>
            <div class="text-block font19">
                <p>
                    Ab 2022 wird das E-Rezept gesetzlich verpflichtend. Machen Sie sich jetzt mit der digitalen Medikamentenverordnung vertraut und erweitern Sie Ihre ärztliche Handlungsfähigkeit. Gerade in Corona-Zeiten bieten digitale Lösungen wirksame Unterstützung für Ihre Arztpraxis.
                </p>
                <p>
                    <strong>Mit dem E-Rezept verordnen Sie Medikamente schnell und einfach digital</strong> - ganz egal, ob Sie dabei in der Praxis oder von zu Hause aus arbeiten. Außerdem wird die Versorgung von Patienten, für die ein Praxisbesuch nicht möglich ist, erleichtert & das Infektionsrisiko wird für Ihr Praxisteam und Ihre Patienten gesenkt.
                </p>
            </div>
        </div>
    </div>
</div>